[Desktop Entry]
Name=Ublue Desktop FirstBoot Setup
Comment=Sets up adam-os Desktop Correctly On FirstBoot
Exec=/usr/bin/adam-os-firstboot
Icon=org.gnome.Terminal
Type=Application
Categories=Utility;System;
Name[en_US]=startup